body{
    background-color: #f0f0f0;
    color: black;
}

.navbar{
  z-index: 50;
  position: fixed;
  top: 0px;
  margin-top: 0px;
  width: 100%;
}

#map{
  /* margin-top: 100px; */
  margin: auto;
  width: 100%; 
  height:100vh;
  z-index: -1;
}

.wrappercontainer {
    z-index: 90;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    /* height: ; */
    margin: auto;
    background-color: hsl(0, 0%, 0%, 0.3);
}


img {
    width: 150px;
    height: 150px;
}

.cardWrap {
    flex: 1;
    flex-wrap: wrap;
    text-align: center;
    z-index: 90;

}

.card-text{
  padding: 4px;
} 


@media (max-width: 760px) {
    #map{
        /* margin-top: 100px; */
    }
    .mapcont{
        margin-top: 20px;
        width: 100%;
        /* height: 100vh; */
        margin: auto;
    }
    .wrappercontainer {
        display: block;
        margin-top: 10px;
        width: 100%;
    } 
    .card-text{
        padding: 4px;
    } 
    /* .slideshow-container img {
      width: 200px;
      height: 200px;
    } */
}


 /* search bar css */

.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 70%;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  margin-top: 1px;
  padding-right:10px;
  z-index: 4;

}
@media (max-width: 760px) {
  .container {
    left: 0;
  }
}


.search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: rgb(112, 255, 99);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  /* box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4); */
  /* box-shadow: 0 0 25px 0 rgb(20, 220, 220); */
  }
.search:hover {
  cursor: pointer;
}
.search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height:25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}


input {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 50px;
  outline: none;
  border: none;
  background: rgb(175, 175, 175);
  color: rgb(0, 0, 0);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
input:hover {
    cursor: pointer;
}
input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}
input:focus ~ .search {
    right: -250px;
    background: rgb(112, 255, 99);
    z-index: 6;
}
input::before {
      top: 0;
      left: 0;
      width: 25px;
}
input::after {
  top: 0;
  left: 25px;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

input::placeholder {
  color: white;
  opacity: 0.5;
}


/* modal css */

.modalup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1000;
  background-color: whitesmoke;
  width: 500px;
  max-width: 80%;
}

.modalup.active{
  transform: translate(-50%,-50%) scale(1);
}


.modalheader{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;    
}
.modalheader .title{
  font-size: 1.25rem;
  font-weight: bold;
}
.modalheader .closebutton{
  cursor: pointer;
  border: none;
  outline: none;
  background:none;
  font-size: 1.25rem;
  font-weight:bold;
  
}

.openbutton{
  cursor: pointer;
  border: none;
  outline: none;
  background:none;
  font-size: 1.25rem;
  font-weight:bold;
  
}


.modalbody {
  padding: 10px 15px;
}

#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0,.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
 